div {
  margin: 20px 20px 20px 20px;
  font-family: Helvetica, serif;
}

ul, li {
  list-style-type: none;
  padding: 5px 5px 5px 5px;
}

ul {
  border: 2px solid black;
  width: 80%;
}

#check {
  display: inline;
  margin-right: 20px;
}

#completedlist {
  text-decoration: line-through;
  color: red;
}

button {
  display: inline;
  float: right;
}